$break-medium: 768px;
.detail-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;
  @media (max-width: $break-medium) {
    flex-direction: column;
    margin: 50px 0;
  }

  .item-image-container {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $break-medium) {
      width: 100%;
    }

    .image {
      width: 380px;
      height: 550px;
      background-size: 100% 100%;
      border-radius: 5px;
      @media (max-width: $break-medium) {
        width: 300px;
        height: 380px;
      }
    }
  }
  .item-details-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(211, 211, 211);
    padding-left: 30px;
    margin-left: 50px;
    @media (max-width: $break-medium) {
      border: none;
      width: 100%;
      padding: 0;
      margin: 10px 0 0 0;
      font-size: 10px;
      border-top: 1px solid gray;
    }

    .item-price {
      font-size: 35px;
      text-align: right;
      font-weight: bold;
    }
    .item-description {
      font-size: 20px;
      @media (max-width: $break-medium) {
        font-size: 15px;
      }
    }
  }
}
