$break-medium: 768px;
.checkout-item {
  width: 100%;
  display: flex;
  min-height: 50px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;

    img {
      width: 100px;
      @media (max-width: $break-medium) {
        width: 50px;
      }
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
    @media (max-width: $break-medium) {
      font-size: 15px;
    }
  }

  .quantity {
    display: flex;
    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
      font-weight: bold;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}
