$break-medium: 768px;

.collection-item {
  width: 18vw;
  display: flex;
  flex-direction: column;
  height: 450px;
  align-items: center;
  position: relative;
  cursor: pointer;
  @media (max-width: $break-medium) {
    width: 35vw;
    height: 200px;
  }

  .image {
    width: 95%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px 2px 0 0;
  }

  &:hover {
    .image {
      filter: saturate(100%) brightness(60%) hue-rotate(0deg);
    }
    .item-details {
      opacity: 1;
      background-color: white;
      color: black;
      border: 1px solid rgb(231, 228, 228);
    }
  }

  .item-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 0 0 2px 2px;

    @media (max-width: $break-medium) {
      font-size: 15px;
    }
  }
}
