.detail-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0;

  .item-image-container {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 380px;
      height: 550px;
      background-size: 100% 100%;
    }
  }
  .item-details-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(211, 211, 211);
    padding-left: 30px;
    margin-left: 50px;

    .item-price {
      font-size: 35px;
      text-align: right;
      font-weight: bold;
    }
    .item-description {
      font-size: 20px;
    }
  }
}
