.detail-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 150px 0;
  transform: scale(1.1);

  .item-image-container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      width: 320px;
      height: 450px;
      background-size: 100% 100%;
    }
  }
  .item-details-container {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgb(211, 211, 211);
    padding-left: 15px;

    .item-price {
      font-size: 35px;
      text-align: right;
      font-weight: bold;
    }
  }
}
