$break-medium: 768px;
.footer-container {
  height: 200px;
  background-color: rgba(0, 0, 0, 0.85);

  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (max-width: $break-medium) {
    height: 120px;
  }

  .links-container {
    width: 25vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: $break-medium) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .footer-link {
      width: 50px;
      height: 50px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: invert(100%);
      cursor: pointer;
      @media (max-width: $break-medium) {
        width: 35px;
        height: 35px;
      }
      &:hover {
        filter: invert(0%);
      }
    }
    .github {
      background-image: url("../../assets/github-logo.webp");
    }
    .linkedin {
      background-image: url("../../assets/linkedin-logo.webp");
    }
    .twitter {
      background-image: url("../../assets/twitter-logo.png");
    }
    .youtube {
      background-image: url("../../assets/youtube-logo.png");
    }
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: 700;
    transition-duration: 0.5s;
    background-color: rgb(233, 232, 232);
    @media (max-width: $break-medium) {
      width: 150px;
    }

    .logo {
      width: 70px;
      height: 70px;
      background-image: url("../../assets/sport-wear-colored.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: $break-medium) {
        width: 60px;
        height: 60px;
      }
    }
  }
}
