@keyframes spin {
  from {
    background-image: url("../../assets/sport-wear.png");
    width: 90px;
    height: 90px;
  }
  to {
    background-image: url("../../assets/sport-wear-colored.png");
    width: 100px;
    height: 100px;
  }
}

.spinner-overlay {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .spinner-container {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("../../assets/sport-wear.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: spin 0.8s ease-in-out infinite;
    -webkit-animation: spin 0.8s ease-in-out infinite;
  }
}
