$break-medium: 768px;
.search-results-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 38px;
    margin: 30px auto 50px;
    @media (max-width: $break-medium) {
      font-size: 20px;
    }
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: $break-medium) {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
    }
    & .collection-item {
      margin-bottom: 30px;
    }
  }
}
