@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }
  .cart-empty-message {
    font-size: 30px;
  }

  .total {
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;

    .test-warning {
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      background-color: rgb(224, 221, 221);
      padding: 5px;
    }
    .payment {
      display: flex;
      flex-direction: column;
    }
  }
}
