$break-medium: 768px;

.menu-item {
  width: 15vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px 15px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.294);
  @media (max-width: $break-medium) {
    align-self: center;
    width: 100vw;
    height: 40vh;
    border-radius: 0;
  }

  &:hover {
    cursor: pointer;
    & .background-image {
      transform: scale(1.1);
      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      filter: blur(1px);
      opacity: 0.5;
      overflow: hidden;
    }

    & .title {
      visibility: visible;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 42px;
    color: #181717;
    visibility: hidden;
    position: absolute;
    @media (max-width: $break-medium) {
      font-size: 35px;
      visibility: visible;
      color: #ffffff;
      background-color: black;
      padding: 10px;
    }
  }
}
