.header {
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid gray;

  .logo-container {
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;

    &:hover {
      font-size: 19px;
      color: rgb(63, 63, 104);
      transition-duration: 0.1s;

      .logo {
        background-image: url("../../assets/sport-wear-colored.png");
      }
    }

    .logo {
      background-image: url("../../assets/sport-wear.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .options {
    width: 50%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;

    .option {
      padding: 10px 45px;
      cursor: pointer;
    }
    .option:hover {
      color: rgb(58, 85, 207);
    }
  }
}
