@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.admin-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(235, 240, 243, 0.966);
  flex-grow: 1;

  .admin-content-container {
    display: flex;
    flex-grow: 1;

    .admin-sidebar {
      width: 250px;
      display: flex;
      flex-direction: column;
      background-color: rgb(34, 33, 33);

      .title {
        color: white;
      }
    }
    .admin-content-detail {
      width: 100%;
      .title {
        margin: 0 0 50px 0;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .admin-container {
    .admin-content-container {
      flex-grow: 0;
      display: flex;
      flex-direction: column;
      .admin-sidebar {
        flex-direction: row;
        width: 100%;

        .title {
          display: none;
        }
      }
    }
  }
}
