@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0 60px;
}

a {
  text-decoration: none;
  color: black;
}
