.dashboard-add-item-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 768px) {
  }

  .title {
    width: 100%;
  }
  .dashboard-add-item-form {
    height: 100%;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    width: 380px;
    label {
      font-size: 20px;
      font-weight: bold;
    }
    @media (max-width: 768px) {
      width: 280px;

      & :last-child {
        margin-bottom: 20px;
      }
    }

    .item-add-input {
      font-family: "Rubik", sans-serif;
      margin: 20px 0;
      height: 40px;
      border: none;
      border-bottom: 1px solid gray;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.472);
      text-indent: 10px;
      @media (max-width: 768px) {
        width: 280px;
        margin: 10px 0;
      }
    }
  }
  .dashboard-image-container {
    margin: 0 50px;
    height: 75%;
    width: 380px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.472);
    background-size: cover;
    @media (max-width: 768px) {
      display: none;
    }

    .dashboard-image-preview {
      background-color: rgba(255, 255, 255, 0.055);
    }

    &:hover {
      .dashboard-image-preview {
        display: none;
      }
    }
  }
}
